<label for="crime">Choose a Crime</label>
<div class="input-field col s12">
        <select name="crimes" class="browser-default">
            <option name="crime" value="Murder">Murder</option>
            <option name="crime" value="Rape">Rape</option>
            <option name="crime" value="Robbery">Robbery</option>
            <option name="crime" value="Assault">Assault</option>
            <option name="crime" value="Burglary">Burglary</option>
            <option name="crime" value="Theft">Theft</option>
            <option name="crime" value="Auto_Theft">Auto Theft</option>
            <option name="crime" value="Arson">Arson</option>
        </select>
    </div>
