<!DOCTYPE html>
<html>
<head>
    <title ><%= title %></title>
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <script type="text/javascript" src="/javascripts/init.js"></script>

</head>