<div class="slider" height="200" indicators="false" >
    <ul class="slides" height="200" indicators="false">
        <li>
            <a href="http://localhost:3000/city?city=http%3A%2F%2Fwww.city-data.com%2Fcity%2FChicago-Illinois.html&crimes=Murder">
                <img class="city-img" src="/images/chicago.jpg" alt="Chicago">
            <div class="caption left-align" height="200" indicators="false">
                <h3>Chicago, IL</h3>
                <h5 class="light grey-text text-lighten-3">You have a 0.28% chance of being murdered in Chicago, Illinois.</h5>
            </div>
            </a>
        </li>
        <li>
            <a href="http://localhost:3000/city?city=http%3A%2F%2Fwww.city-data.com%2Fcity%2FMemphis-Tennessee.html&crimes=Murder">
            <img class="city-img" src="/images/beale-street.jpg" alt="Memphis">
            <div class="caption left-align">
                <h3>Memphis, TN</h3>
                <h5 class="light grey-text text-lighten-3">You have a 0.29% chance of being murdered in Memphis, Tennessee.</h5>
            </div>
        </a>
        </li>
        <li>
            <a href="http://localhost:3000/city?city=http%3A%2F%2Fwww.city-data.com%2Fcity%2FSt.-Louis-Missouri.html&crimes=Murder">
            <img class="city-img" src="/images/st_louis.jpg" alt="Saint Louis">
            <div class="caption left-align">
                <h3>St. Louis, Missouri</h3>
                <h5 class="light grey-text text-lighten-3">You have a 0.59% chance of being murdered in St. Louis, Missouri.</h5>
            </div>
            </a>
        </li>
        <li>
            <a href="http://localhost:3000/city?city=http%3A%2F%2Fwww.city-data.com%2Fcity%2FBaltimore-Maryland.html&crimes=Murder">
            <img class="city-img" src="/images/baltimore.jpg" alt="Baltimore, Maryland">
            <div class="caption left-align">
                <h3>Baltimore, Maryland</h3>
                <h5 class="light grey-text text-lighten-3">You have a 0.51% chance of being murdered in Baltimore, Maryland.</h5>
            </div>
            </a>
        </li>
    </ul>
</div>

